@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
:root {
  --lighter-color: rgb(235, 235, 239);
  --drak-gray: rgb(38, 32, 30);
  --darker-gray: rgb(13, 7, 5);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
footer {
  background-color: var(--darker-gray);
  color: var(--lighter-color);
  height: 55vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.footer-items {
  height: 50%;
}
.footer-items > h3 {
  font-size: 50px;
  margin: 40px 0;
}
.footer-items > p {
  font-size: 16px;
  line-height: 25px;
  margin: 20px 0;
}
.fa-brands {
  color: var(--lighter-color);
  text-align: left;
  font-size: 25px;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.15s;
}
.fa-brands:hover {
  scale: 1.2;
  color: white;
}

.newsletter-container > label {
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
}
.newsletter-container > input {
  background-color: rgba(245, 248, 251, 0.6);
  height: 50px;
  width: 500px;
  display: block;
  margin-bottom: 20px;
  padding-left: 20px;
}
.newsletter-container > input::placeholder {
  color: var(--darker-gray);
  font-size: 15px;
}
.newsletter-container > input:focus {
  outline: none;
}
.newsletter-container > button {
  cursor: pointer;
  height: 50px;
  font-size: 15px;
  width: 130px;
  color: var(--lighter-color);
  background-color: transparent;
  border: 1px solid var(--lighter-color);
  transition: all 0.15s;
}
.newsletter-container > button:hover {
  background-color: var(--lighter-color);
  color: var(--darker-gray);
  /* color: var(--lighter-color);
  border: 1px solid var(--lighter-color);
  background-color: var(--darker-gray); */
}
.newsletter-container > button:active {
  opacity: 0.7;
}
