@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
:root {
  --lighter-colr: rgb(235, 235, 239);
  --drak-gray: rgb(38, 32, 30);
  --darker-gray: rgb(13, 7, 5);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.navbar {
  background-color: var(--darker-gray);
  color: var(--lighter-colr);
  display: flex;
  height: 100px;
  justify-content: space-around;
  align-items: center;
}
div.header-elements {
  /* margin-left: 300px; */
}
nav.header-elements {
  width: 400px;
  /* align-content: right; */
}
.header-elements > ul {
  display: flex;
  justify-content: space-around;
}
.nav-links > a,
ul {
  color: var(--lighter-colr);
  text-decoration: none;
  list-style: none;
  font-size: 18px;
  font-weight: 400;
}
.nav-links > a:hover {
  text-decoration: underline;
}
