@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
:root {
  --lighter-color: rgb(235, 235, 239);
  --drak-gray: rgb(38, 32, 30);
  --darker-gray: rgb(13, 7, 5);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* Navbar CSS */
.navbar {
  background-color: var(--darker-gray);
  color: var(--lighter-color);
  display: flex;
  height: 100px;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
div.header-elements > h1 > a {
  color: var(--lighter-color);
  text-decoration: none;
  cursor: pointer;
}
nav.header-elements {
  width: 400px;
}
.header-elements > ul {
  display: flex;
  justify-content: space-around;
}
.nav-links > a,
ul {
  color: var(--lighter-color);
  text-decoration: none;
  list-style: none;
  font-size: 18px;
  font-weight: 400;
}
.nav-links > a:hover {
  text-decoration: underline;
  color: white;
}

/* Hero Section CSS */
.hero {
  /* margin-top: 100px; */
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0)
    ),
    url("../img/bg-img-2.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  height: 100vh;
}
.hero-items {
  display: inline-block;
  margin-left: 400px;
  /* width: 50%;*/
  height: 100%;
  display: flex;
  flex-direction: column;
  color: var(--lighter-color);
  justify-content: center;
  align-items: flex-start;
}
.hero-items > h2 {
  width: 500px;
  text-align: left;
  margin: 10px 0;
  font-size: 80px;
}
.hero-items > p {
  margin: 10px 0;
  text-align: left;
  width: 500px;
  font-size: 22px;
  line-height: 30px;
}
.hero-items > button {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  background-color: var(--lighter-color);
  width: 170px;
  margin: 10px 0px;
  height: 50px;
  border: none;
  cursor: pointer;
}

/* About Preview CSS */
.about-preview {
  height: calc(100vh - 100px);
  background-color: var(--lighter-color);
  color: var(--darker-gray);
  display: flex;
  justify-content: center;
}
.about-preview-items {
  width: 700px;
}
.about-preview-items > img {
  margin: auto;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.about-text-container {
  width: 500px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-text-container > h2,
.about-text-container > div,
.about-text-container > p {
  width: 400px;
  margin: 20px 0;
}

.about-text-container > h2 {
  font-size: 70px;
}
.about-text-container > p {
  font-size: 16px;
  /* font-weight: 400; */
  line-height: 35px;
}
p.title {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 7px;
}
.about-text-container > .btn-container > .btn {
  border: none;
  background-color: var(--darker-gray);
  color: var(--lighter-color);
  height: 50px;
  width: 150px;
  margin-right: 20px;
  cursor: pointer;
}
/* Banner Section CSS */
.banner {
  height: 500px;
  width: 100vw;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0)
    ),
    url("../img/img-3.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}
.banner-items {
  width: 550px;
  margin-left: 300px;
}
.banner-items > h2 {
  font-size: 70px;
  color: var(--lighter-color);
}
